body
{
	font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(154, 205, 253);
	min-width: 4000px;
	margin: 0px;
}

/*----------------------------------Оформление шапки----------------------------------*/

/*Шапка сайта*/
.beginning
{
	display: flex;
	justify-content: center;
	background: rgb(4, 44, 133);
	padding: 5px;
}

/*Настройки текста шапки*/
.title_text
{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

/*----------------------------------Оформление блока навигации----------------------------------*/
.nav{
    z-index: 1;
    position: sticky;
    top: 0;
}

.nav ul{
    display: flex;
    justify-content: center;
    background-color: rgb(4, 44, 133);
	border: 2px solid rgb(80, 80, 80);
	margin: 0px;
}

.nav li{
	border-right: 2px solid rgb(80, 80, 80);
    padding: 5px;
	list-style-type: none;
}

li:first-child{
    border-left: 2px solid rgb(80, 80, 80);
}

/*----------------------------------Оформление секции добавления и нахождения заказа----------------------------------*/
/*Настройка секции*/
.add_and_find_order
{
	display: flex;
	justify-content: center;
}

/*Настройка ссылок*/
.add_order_button
{
	padding: 5px;
	margin: 15px;
	background-color:rgb(4, 44, 133);
	border: 2px solid rgb(80, 80, 80);
	white-space: nowrap;
}

a
{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
}

.searchdiv
{
	background-color: rgb(4, 44, 133);
	border: 2px solid rgb(80, 80, 80);
	padding: 5px;
	margin: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;

}

.indent_section
{
	height: 20px;
}

/*----------------------------------Оформление таблицы----------------------------------*/
table
{
	border: 2px solid rgb(80, 80, 80);
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

/*Оформление названия столбцов таблицы*/
table th
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 5px;
	background: rgb(4, 44, 133);
	border: 2px solid rgb(80, 80, 80);
	overflow: hidden;
}

/*Оформление содержания столбцов таблицы*/
table td
{
	background: rgb(255, 255, 255);
	padding: 5px;
	border: 2px solid rgb(80, 80, 80);
	overflow: hidden;
	text-align: center;
}

/*Размеры столбцов таблицы*/
th:nth-child(1), td:nth-child(1)
{
	width: 1%;
}

th:nth-child(2)
{
	width: 10%;
}

th:nth-child(3), th:nth-child(4), th:nth-child(6), th:nth-child(7)
{
	width: 15%;
}

th:nth-child(5), td:nth-child(5)
{
	width: 12%;
}

th:nth-child(8)
{
	width: 3%;
}

th:nth-child(9)
{
	width: 3%;
}

th:nth-child(10)
{
	width: 2%;
}

th:nth-child(11), th:nth-child(12)
{
	width: 2%;
}